<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Recommendation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #111013">
    <nav class="navbar navbar-expand-lg" style="background-color: #232323">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: rgb(185, 0, 0)"
          >Movie Recommendation</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/"
                style="color: whitesmoke"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                style="color: rgb(185, 0, 0)"
                >|
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#" style="color: whitesmoke"
                >Recommend</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-4">
      <h1 style="color: rgb(185, 0, 0);"><br>Recommend Movies</h1>
    </div>

    <form method="post" action="/recommend" name="my_form">
      {% if message is defined and message %}
                <div class="alert alert-warning alert-dismissible fade show" style="width: fit-content; margin-top: 20px;">{{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <br>
                {% endif %}
      <div class="form-floating">
        <input type="text" class="form-control" placeholder="User input" id="user_input" name="user_input"></input>
        <label for="user_input">Enter the movie name</label>
      </div>

      <br />
      <div class="container">
        <div class="submit-button">
          <button class="btn btn-outline-danger btn-lg">Search</button>
        </div>
      </div>

    </form>
    {% if movie_titles %}
    <div class="container" style="margin-top: 30px;">
      <h3 style="color: whitesmoke;">Searched Movie</h3>
      <div class="row">
        <div class="col-md-2" style="margin-top:20px">
          <div class="card" style="background: 0%;">
            <img class="card-img-top" src="{{inputed[11]}}">
          </div>
      </div>
      <div class="col-md-10"><br>
        <h3 style="color: whitesmoke;">Movie Name - {{inputed[1]}}</h3>
        <h4 style="color: whitesmoke;">Movie Director - {{inputed[2]}}</h4>
        <h4 style="color: whitesmoke;">Actors - {{inputed[3]}}, {{inputed[4]}}, {{inputed[5]}}</h4>
        <h4 style="color: whitesmoke;">Year - {{inputed[10]}}</h4>
        <h4 style="color: whitesmoke;">Genre - {{inputed[6] | replace(" ", " | ")}}</h4>
        <h4 style="color: whitesmoke;">Rating - {{inputed[8]}}</h4>
        <h4 style="color: whitesmoke;">Votes - {{inputed[9]}}</h4>
      </div>
      </div>
    </div>

    <div class="container" style="margin-top: 40px;">
      <h3 style="color: whitesmoke;">Recommended Movies</h3>
      <br>
      
      <div class="row g-3">
        {% for i in range(movie_titles|length) %}
        <!-- This is a card -->
        <div class="col-md-3">
          <div class="card" style="width: 18rem; background: 0%;">
            <!-- <img src="https://image.tmdb.org/t/p/w500/qJ2tW6WMUDux911r6m7haRef0WH.jpg" class="card-img-top" alt="..."> -->
            <div class="card-body">
              <img class="card-img-top" src="{{ movie_posters[i] }}" />
              <h4 class="text-white"><b>{{ movie_titles[i] }}</b></h4>
              <h5 class="text-white">Year of release - {{ (movie_year[i]) | int}}</h5>
              <h5 class="text-white">Rating - {{ movie_ratings[i] }}</h5>
              <h5 class="text-white">Votes - {{ (movie_votes[i]) | int }}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>
